body {
  font-family: "Noto Serif TC", serif;
  background-color: antiquewhite;
  margin: 0;
}

h2 {
  text-decoration: underline;
}

code {
  background-color: gainsboro;
  padding: 10px 30px;
}

nav ul {
  list-style-type: none;
}

#main_doc {
  height: 100%;
  width: 100%;
}

#navbar {
  position:fixed;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: black;
}

#list {
  border-bottom: 1px solid black;
  padding: 10px;
}

li a:hover {
  background-color: olivedrab;
  color: white;
}

ul {
  display: inline;
  list-style-type: circle;
}

li a {
  display: block;
}

#technical {
  width: 75%;
  margin-left: 330px;
}

@media only screen and (max-width: 600px) {
  code{
    visibility: hidden;
  }
  #navbar {
    position:sticky;
    top: 0;
    width:600px;
    
    background-color: aliceblue;
  }
 
  #technical {
    width: 80%;
    margin-left: 0px;
    margin: auto;
  }
}